
faircashier/logs/

# Environments
/cashierenv/
/faircashier/.env

/faircashier/cashingapp/__pycache__/


# Notes and prompts
notes.txt
prompt.txt
temp.txt
api3-demo-keys.txt
response.txt



faircashier2/logs/
/faircashier2/.env
/faircashier2/cashingapp/__pycache__/
